.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 520px;
  width: 100%;
  padding-top: 120px;
  background-color: #9e5f00;
  background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");
}

#user-full-name {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  border-right: 0em;
  border-left: 0em;
  border-bottom: 0em;
  border-style: solid;
  width: 100%;
}
