article {
  border-style: solid;
  display:flex;
  flex-direction: column;
  width: 66%;
  padding: 0.5em;
}

#tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em
}

#tweet-body {
  padding: 1em;
}

#tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-right: 0em;
  border-left: 0em;
  border-bottom: 0em;
  border-style: solid;
  font-size: 75%;
}

#tweet-icons {
  color:#4056a1;
  size: 50%;
}

.tweet-icon:hover{
  color:#9e5f00;
}